<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.win10.bahanpercobaan2">

    <application
        android:name=".MyGreenDao.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sidebar_Pertanian" />
        <activity android:name=".Pertanian_Detailpadi"
            android:parentActivityName=".Sidebar_Pertanian"
            />
        <activity android:name=".DetailPemilik"
            android:parentActivityName=".Pertanian_Detailpadi"
            />
        <activity android:name=".TambahDataActivity"></activity>
        <activity android:name=".DashboardGraph"></activity>
    </application>

</manifest>